<div
  class="flex h-dvh flex-col items-center gap-5 overflow-y-scroll px-2 pt-3 pb-10">
  <header class="flex min-h-[127px] w-full flex-1 flex-col items-center">
    <div class="flex-0">English (US)</div>

    <div class="flex w-full flex-1 items-center justify-center">
      <img
        src="assets/logos/Instagram_Gradient.svg"
        alt="Instagram logo"
        class="h-[60px]" />
    </div>
  </header>

  <main class="w-full flex-1">
    <form
      action=""
      class="flex w-full flex-col items-center justify-center gap-4">
      <input
        class="w-full rounded-2xl border border-solid border-[#8595A4] bg-[#1C2B33] p-4 placeholder:text-[#8595A4]"
        type="email"
        placeholder="Username, email or mobile number" />
      <input
        class="w-full rounded-2xl border border-solid border-[#8595A4] bg-[#1C2B33] p-4 placeholder:text-[#8595A4]"
        type="password"
        placeholder="Password" />
      <button class="w-full rounded-3xl bg-[#0064E0] p-2" type="submit">
        Log in
      </button>
      <button type="button">Forgot password?</button>
    </form>
  </main>
  <footer class="flex w-full flex-1 flex-col items-center justify-end gap-4">
    <button class="w-full rounded-3xl border bg-transparent p-2 text-blue-400">
      Create new account
    </button>
    <img
      class="h-[12px] w-[60px]"
      src="assets/images/meta.png"
      alt="meta logo" />
  </footer>
</div>
