@import 'tailwindcss';
/* @plugin "@tailwindcss/typography"; */
/* @plugin "@tailwindcss/forms" {
  strategy: 'class';
} */

/* Instagram Clone Theme Configuration */
@theme {
  /* === COLORES PRINCIPALES === */

  /* Backgrounds */
  --auth-input-bg: #1c2b33;
  --auth-input-border: #58626c;
  --auth-input-focus: #9eb0c2;

  /* --color-ig-black: #000000;
  --color-ig-dark: #121212;
  --color-ig-surface: #262626;
  --color-ig-card: #1a1a1a;
  --color-ig-border: #363636; */

  /* Text Colors */
  --color-ig-text: #ffffff;
  --color-ig-text-secondary: #a8a8a8;
  --color-ig-text-muted: #737373;

  /* Brand Colors */
  --color-ig-blue: #0095f6;
  --color-ig-blue-hover: #1877f2;
  --color-ig-heart: #ed4956;
  --color-ig-heart-hover: #c13584;

  /* Status Colors */
  --color-ig-success: #00ba7c;
  --color-ig-warning: #ffcc02;
  --color-ig-error: #ed4956;

  /* Masks */
  --mask-eye: url('/assets/icons/eye.png');
  --mask-hidden: url('/assets/icons/hidden.png');
  --mask-meta: url('/assets/icons/meta.png');
  --mask-back: url('/assets/icons/back.png');
  --mask-close: url('/assets/icons/close.png');
  --mask-warning: url('/assets/icons/warning.png');

  /* === GRADIENTES === */
  --color-ig-gradient-story: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  --color-auth-mobile-background: linear-gradient(
    130deg,
    #2d3736 0%,
    #282e3e 20%,
    #1e3443 60%,
    #1d3d3c 100%
  );

  --color-ig-gradient-live: linear-gradient(45deg, #ff006e, #8338ec);

  --font-family-instagram: 'Instagram Sans', system-ui, sans-serif;
  --font-sans: 'Instagram Sans', system-ui, sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--color-ig-black);
  color: var(--color-ig-text);
  margin: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
}

@layer utilities {
  .auth-mobile-input {
    @apply h-[62px] w-full rounded-2xl border border-solid px-4 pt-7 pb-4 font-semibold outline-none;

    background-color: var(--auth-input-bg);
    border-color: var(--auth-input-border);
    color: var(--auth-label);
  }
  .auth-mobile-input:focus {
    border-color: var(--auth-input-focus);
  }
}

@font-face {
  font-family: 'Instagram Sans';
  src: url('/assets/fonts/instagram-sans-light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Instagram Sans';
  src: url('/assets/fonts/instagram-sans.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Instagram Sans';
  src: url('/assets/fonts/instagram-sans-medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Instagram Sans';
  src: url('/assets/fonts/instagram-sans-headline.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Instagram Sans';
  src: url('/assets/fonts/instagram-sans-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
